
//Color

// $black: #000000;
// $white: #ffffff;

//Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

//Wrapper

$mobile-wrapper: 460px;
$tablet-wrapper: 768px;
$desktop-wrapper: 1200px;
